    @font-face{
                font-family: starwars;
                src:url('css/fonts/OptimusPrincepsSemiBold.ttf');
            }
            body{
                background-size:cover; 
                background-repeat: no-repeat;
                font-family: "starwars";
            }
            select{
                display: block;
                margin: auto;
            }
            form:nth-of-type(1){
                width: 150px;
                margin-left:auto;
                margin-right: auto;
            }
            form:nth-of-type(1)>input:nth-of-type(2){
                margin-left: 30px;
            }
             form:nth-of-type(1)>input:nth-of-type(2):hover{
                margin-left: 30px;
                border-radius: 20px;
                cursor: pointer;
            }
            
            aside{
               position: absolute;
               top: 273px;
            }
            h3{
                font-size: 50px;
                color:white;
            }
            form>input{
                background-color: transparent;
                color: white;
                border: 3px solid;
                border-color: white;
                text-align: center;
                outline: none;
                -webkit-transition-duration: 0.8s; /* Safari */
                transition-duration: 0.8s;
            }
              form>input:focus{
                -webkit-transition-duration: 0.8s; /* Safari */
                transition-duration: 0.8s;
                border-radius: 20px;
                outline: none;
            }
            h2{
                font-size: 40px;
                color:white;
                text-decoration: underline;
            }
            p{
                font-size: 25px;
                color:white;
            }
            aside>input{
                color:white;
                border:none;
                font-weight: 600;
               
               font-family: 'starwars';
               
                background-color: transparent;
                 -webkit-transition-duration: 0.5s; /* Safari */
                transition-duration: 0.5s;
            }
            aside>input:hover{
                border-bottom: 2px solid;
                 font-size: 17px;
                 -webkit-transition-duration: 0.5s; /* Safari */
                transition-duration: 0.5s;
                margin-left: 15px;
                cursor: pointer;
            }
            select{
                background-color: transparent;
                color: white;
                text-align: center;
                
            }
            option{
                color:white;
                background-color: black;
            }
            div{
                color:red;
            }
            
            td{
                color:white;
                
            }
            tr{
                 color:white;
            }
