  
            #container{


                float:left;
            }
            #help{
                width:5%;
                float:left;
            }
            #login{
                float:right;
            }