<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>com.hitek.prog3.web.GameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>spelerAanmakenServlet</servlet-name>
        <servlet-class>com.hitek.prog3.web.spelerAanmakenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>spelerVerwijderenServlet</servlet-name>
        <servlet-class>com.hitek.prog3.web.spelerVerwijderenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creditsToevoegenServlet</servlet-name>
        <servlet-class>com.hitek.prog3.web.creditsToevoegenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beheerAfsluitenServlet</servlet-name>
        <servlet-class>com.hitek.prog3.web.beheerAfsluitenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AantalSpelersServlet</servlet-name>
        <servlet-class>com.hitek.prog3.web.AantalSpelersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameInit</servlet-name>
        <servlet-class>com.hitek.prog3.web.GameInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardDAO</servlet-name>
        <servlet-class>com.hitek.prog3.db.DAO.CardDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameCardRound</servlet-name>
        <servlet-class>com.hitek.prog3.web.GameCardRound</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/GameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spelerAanmakenServlet</servlet-name>
        <url-pattern>/spelerAanmakenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spelerVerwijderenServlet</servlet-name>
        <url-pattern>/spelerVerwijderenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creditsToevoegenServlet</servlet-name>
        <url-pattern>/creditsToevoegenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beheerAfsluitenServlet</servlet-name>
        <url-pattern>/beheerAfsluitenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AantalSpelersServlet</servlet-name>
        <url-pattern>/AantalSpelersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameInit</servlet-name>
        <url-pattern>/GameInit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardDAO</servlet-name>
        <url-pattern>/CardDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameCardRound</servlet-name>
        <url-pattern>/GameCardRound</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
