 body
            {
                background-color: black; color: yellow
            }
            #container{
                border: black 1px dotted; width: 60%; height:600px; margin-left: auto; margin-right: auto;overflow-y: scroll;
            }
            .button.black {
                background-image: -webkit-gradient(linear, left top, left bottom, 
                    from(#4286f5), 
                    color-stop(0.5, #4286f5),
                    color-stop(0.5, #194fdb),
                    to(#194fdb));

                border: solid 1px rgba(79, 79, 79, 0.75);
            }
            .button.black:hover {
                background-image: -webkit-gradient(linear, left top, left bottom, 
                    from(#7d828c),
                    color-stop(0.5, #303749), 
                    color-stop(0.5, #121a2e), 
                    to(#121a2e));
            }